<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">みんなのサウナ物語へようこそ</h1>
    <p>
      このサイトでは詳しくサウナでの体験を書いてもらってその情景が伝わってきてそのサウナに行きたくなるようなものを重点的に共有するサイトで、初めて行く人でもイメージがつきやすくなるようになります。
    </p>
  </div>
</div>